<div class="head_heandlebars">
  <ul class="list-inline">
    {{#if user}}
    <li class="btn"><a class="text_btn" href="/" style="font-family: Bubblegum">Jeu</a></li>
    {{/if}}
    <li class="btn"><a class="text_btn" href="/contact" style="font-family: Bubblegum">Contacts</a></li>
  </ul>
  <ul class="list-inline">
  {{#if user}}
    <li style="font-family: Bubblegum">
      {{#if user.picture}}
        <img class="avatar" src="{{user.picture}}">
      {{else}}
        <img class="avatar" src="{{user.gravatar}}">
      {{/if}}
      {{#if user.name}}
        {{user.name}}
      {{else}}
        {{user.email}}
      {{/if}}
    </li>
    <li class=""><a class="text_btn" href="/account" style="font-family: Bubblegum">Mon compte</a></li>
    <li class=""><a class="text_btn" href="/logout" style="font-family: Bubblegum">Deconnexion</a></li>
  {{else}}
    <li class="btn"><a class="text_btn" href="/login" style="font-family: Bubblegum">Connexion</a></li>
    <li class="btn"><a class="text_btn" href="/signup" style="font-family: Bubblegum">Inscription</a></li>
  {{/if}}
  </ul>
</div>
