<div class="head_heandlebars">
  <ul class="list-inline">
    {{#if user}}
    <li class="btn"><a class="text_btn" href="/">Jeu</a></li>
    {{/if}}
    <li class="btn"><a class="text_btn" href="/contact">Contacts</a></li>
  </ul>
  <ul class="list-inline">
  {{#if user}}
    <li>
      {{#if user.picture}}
        <img class="avatar" src="{{user.picture}}">
      {{else}}
        <img class="avatar" src="{{user.gravatar}}">
      {{/if}}
      {{#if user.name}}
        {{user.name}}
      {{else}}
        {{user.email}}
      {{/if}}
    </li>
    <li class="btn"><a class="text_btn" href="/account">Mon compte</a></li>
    <li class="btn"><a class="text_btn" href="/logout">Deconnexion</a></li>
  {{else}}
    <li class="btn"><a class="text_btn" href="/login">Connexion</a></li>
    <li class="btn"><a class="text_btn" href="/signup">Inscription</a></li>
  {{/if}}
  </ul>
</div>
